@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
:root {
    --primary: #ad8e70;
    --secondary: #ffebb7;
    --teritary: #ff6e31;
    --accent: #243763;

    --border: 0.1rem solid #ff6e31;
    --borderRadius: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

html {
    font-size: 62.5%;
}
