@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
:root {
    --primary: #fffbf5;
    --secondary: #f7efe5;
    --teritary: #c3acd0;
    --accent: #674188;

    --border: 0.1rem solid #ff6e31;
    --borderRadius: 1rem;
    --transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

html {
    font-size: 62.5%;
    @media (-webkit-device-pixel-ratio: 1.25) {
        font-size: 50%;
    }
}
